* {
	box-sizing: border-box;
}

@media only screen and (min-width: 600px){
	.container{
		padding: 5px;
		border: 1px solid #000;
		width: 786px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}